{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center d-flex">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-5">Process Your Excel File</h2>
            <div class="justify-content-center d-flex">
                <form method="post" enctype="multipart/form-data" class="text-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
